@charset "utf-8";
/* ------------ glide down ------------ */
.glide-down{padding: 25px 0;position: relative;text-align: center;}
.glide-down:before{content: '';position: absolute;left: 0;top: 50%;width: 100%;height: 1px;background-color: #c0bfbf;}
.glide-btn{position: relative;z-index: 2;display: inline-block;cursor: pointer;width: 52px;height: 52px;line-height: 52px;border-radius: 50%;background-color: #eeeeed;text-align: center;}
.glide-btn .iner{display: inline-block;width: 38px;height: 38px;line-height: 38px;border-radius: 50%;background-color: #ffffff;text-align: center;}
.glide-btn .iner i{color: #0b5a9a;font-size: 12px;font-weight: lighter;}
/* *******/
/* ------------ titleBar ------------ */
.line-title{width: 100%;overflow: hidden;}
.line-title .txt-ch{text-align: center;color: #0b5a9a;font-size: 22px;}
.line-title .txt-en{position: relative;text-align: center;color: #d7d3d2;font-size: 20px;line-height: 32px;}
.line-title .txt-en:before{content: '';display: block;height: 1px;width: 50%;margin-left: -80px;position: absolute;top: 50%;background-color: #d7d3d2;}
.line-title .txt-en:after{content: '';display: block;height: 1px;width: 50%;margin-right: -80px;position: absolute;top: 50%;right: 0;background-color: #d7d3d2;}
.line-title .blue-short-line{display: block;width: 20px;height: 3px;background-color: #0b5a9a;margin: 0 auto;}
.line-title.white .blue-short-line{background-color: #ffffff;}
.line-title.white .txt-ch{color: #fff;}
.line-title.white .txt-en{color: #f5f5f5;}
.line-title.white .txt-en:after{background-color: #f5f5f5;}
.line-title.white .txt-en:before{background-color: #f5f5f5;}
.line-title.noline .txt-en:after{display: none}
.line-title.noline .txt-en:before{display: none}
/* *******/
/* ------------ index ------------*/
/* index- flexslider*/
.home-flexslider{margin-top:80px;position:relative;height:540px;overflow:hidden;}
.home-flexslider:hover .flex-prev{opacity: .6}
.home-flexslider:hover .flex-next{opacity: .6}
.home-slides{position:relative;z-index:1;}
.home-slides li{height:540px;}
.home-slides li > a{display:block;width:100%;height:100%;}
.home-flexslider .flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.home-flexslider .flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.home-flexslider .flex-direction-nav li a.flex-prev{left:40px;background:url(../lib/flexslider/prev.png) center center no-repeat;opacity: 0;}
.home-flexslider .flex-direction-nav li a.flex-next{right:40px;background:url(../lib/flexslider/next.png) center center no-repeat;opacity: 0;}
/* index- Our technology and our culture */
.aim-wrap{margin-top: -80px;position: relative;z-index: 1000;}
.aim-wrap .wrap-l{background-color: #848282;font-size: 16px;color: #fff;text-align: center;position: relative;padding: 48px 0;height: 150px;}
.aim-wrap .wrap-l::before{content: '';display: block;position: absolute;top: 50%;margin-top: -9px;right: -15px;z-index: 10;width: 16px;height: 18px;z-index: 12;background: url('../images/index/aim-arrow.png');}
.aim-wrap .wrap-r{padding-right: 0;padding-left: 0;}
.wrap-r .aim-item{background-color: #eeeeed;height: 150px;text-align: center;position: relative;padding: 43px 0;overflow: hidden;cursor: pointer;border-right: 1px solid #999999;}
.wrap-r .aim-item:last-child{border-right: 0;}
.wrap-r .aim-item > p{font-size: 16px;margin-top: 10px;}
@-webkit-keyframes fadeSlideX{0%{-webkit-transform:translateX(-110%);opacity: 0;}
100%{-webkit-transform:translateX(0);opacity: 1;}}
@-moz-keyframes fadeSlideX{0%{-moz-transform:translateX(-110%);opacity: 0;}
100%{-moz-transform:translateX(0);pacity: 1;}}
.slide-wrap{position: absolute;top: 0;right: 0;background: url('../images/index/aim-h.png') no-repeat center;background-size: 100% 100%;width: 100%;height: 100%;z-index: 10;display: none;-webkit-animation:fadeSlideX .5s .1s ease both;-moz-animation:fadeSlideX .5s .1s ease both;}
.slide-wrap > p{font-size: 16px;color: #fff;vertical-align: middle;margin: 60px 50px 0;}
.wrap-r .aim-item:hover > .slide-wrap{display: block;}
/* index- our business */
.ws-business{margin-bottom: 70px;}
.ws-business h3{font-size: 18px;text-align: center;margin: 20px 0 ;}
.ws-business .ws-bs-item{cursor: pointer;}
.ws-business .ws-bs-item:hover .txt-box>.txt-p{background-color: rgba(13, 89, 152, .5);}
.ws-business .ws-bs-item:hover .tit-box{background-color: #0b5a9a;}
.ws-business .ws-bs-item:hover .tit-box>h4{color: #fff;}
.ws-business .ws-bs-item:hover .tit-box>.bs-icon{background-position-x: -33px;}
.ws-business .ws-bs-item.top:hover .tit-box:before{background-image: url(../images/bs-arrow-bottom-h.png)}
.ws-business .ws-bs-item.bot:hover .tit-box:before{background-image: url(../images/bs-arrow-top-h.png)}
.ws-bs-item .txt-box{height: 310px;position: relative;}
.ws-bs-item .txt-box .img-bg{width: 100%;height: 100%;}
.ws-bs-item .txt-box .txt-p{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .5);color: #fff;font-size: 15px;line-height: 1.7;padding: 90px 30px 0;-webkit-transition: all .3s;transition: all .3s;}
.ws-bs-item .tit-box{height: 100px;border: 1px solid #c0c0bf;text-align: center;padding: 17px 0;position: relative;-webkit-transition: all .3s;transition: all .3s;}
.ws-bs-item.top .tit-box:before{position: absolute;bottom: -12px;left: 50%;margin-left: -8px;width: 17px;height: 14px;content: '';display: block;background: url(../images/bs-arrow-bottom.png) no-repeat 0 0;-webkit-transition: all .3s;transition: all .3s;}
.ws-bs-item.bot .tit-box:before{position: absolute;top: -12px;left: 50%;margin-left: -8px;width: 17px;height: 14px;content: '';display: block;background: url(../images/bs-arrow-top.png) no-repeat 0 0;}
.ws-bs-item.bot .tit-box{margin-top: 30px;}
.ws-bs-item.top .tit-box{margin-bottom: 30px;}
.ws-bs-item .tit-box h4{font-size: 16px;margin-top: 5px;}
.ws-bs-item .tit-box .bs-icon{display: inline-block;width: 33px;height: 33px;background: url(../images/index/bus-icon.png) no-repeat 0 0;}
.ws-bs-item .tit-box .bs-icon.bs-icon1{background-position: 0 0;}
.ws-bs-item .tit-box .bs-icon.bs-icon2{background-position: 0 -33px;}
.ws-bs-item .tit-box .bs-icon.bs-icon3{background-position: 0 -66px;}
.ws-bs-item .tit-box .bs-icon.bs-icon4{background-position: 0 -99px;}
/* index- our solution */
.ws-solution{padding: 80px 0 60px;}
.solution-tab > ul{margin: 40px -10px;}
.solution-tab .nav >li{width: 20%;float: left;padding: 0 5px;}
.solution-tab .nav >li>a{padding: 0;display: block;height: 280px;border-top: 5px solid #0b5a9a;position: relative;}
.solution-tab li>a>.img-bg{position: absolute;width: 100%;height: 100%;z-index: 0;}
.solution-tab .nav >li>a:before{content: '';background-color: rgba(0, 0, 0, .5);position: absolute;width: 100%;height: 100%;z-index: 1;}
.solution-tab .nav >li.active>a:before{background-color: rgba(13, 89, 152, .5);}
.solution-tab .nav >li.active>a:after{position: absolute;bottom: -12px;left: 50%;margin-left: -8px;width: 17px;height: 14px;content: '';display: block;background: url(../images/bs-arrow-bottom-h.png);}
.solution-tab li>a .icon-tit{position: relative;z-index: 2;top: 80px;text-align: center;}
.solution-tab li>a .icon-tit > h2{color: #fff;font-size: 20px;margin-top: 10px;line-height: 1.4;letter-spacing: 3px;}
.solution-tab .tab-pane-tit{font-size: 18px;margin-bottom: 10px;}
.solution-tab .tab-pane-item{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 16px;line-height: 30px;}
/* index- our case*/
.ws-case{background-color: #eeeef0;padding: 0 0 60px;}
.ws-case .ws-case-bg{padding-top: 80px;height: 400px;background-image: url(../images/index/case-bg.png);background-attachment: fixed;background-repeat: no-repeat;background-position: center center;background-size: 100% 100%;}
.tit-caption{font-size: 16px;color: #fff;text-align: center;margin: 15px 0}
.ws-case .case-box{background-color: #fff;padding: 30px;margin-top: -100px;}
.ws-case .case-box .title{font-size: 18px;border-left: 3px solid #0b5a9a;padding-left: 10px;font-weight: bold;margin-bottom: 15px;}
.ws-case .case-nav-tab li{display: inline-block;margin: 0 2px;}
.ws-case .case-nav-tab li > a{padding: 0 15px;background-color: #eee;color: #333;line-height: 26px;}
.ws-case .case-nav-tab li.active > a{background-color: #0b5a9a;color: #fff;}
.ws-case .case-nav-tab li > a:hover{background-color: #0b5a9a;color: #fff;}
.ws-case .tab-content{margin-top: 20px;}
.ws-case .case-item{padding: 10px;}
.ws-case .case-item>a{display: block;border: 1px solid #c0c0bf;}
.ws-case .case-item .case-img{position: relative;height: 200px;overflow: hidden;}
.case-img .watch-more{position: absolute;top: 0;left: 0;text-align: center;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .4);color: #fff;font-size: 16px;line-height: 200px;-webkit-transition: all .3s;transition: all .3s;opacity: 0;}
.ws-case .case-item .case-img img{-webkit-transition: all .3s;transition: all .3s;width: 100%;height: 100%;}
.ws-case .case-item .case-name{text-align: center;padding: 10px;border-top: 1px solid #c0c0bf;height: 63px; overflow: hidden;}
.ws-case .case-item>a:hover .watch-more{opacity: 1;}
.ws-case .case-item>a:hover .case-img>img{transform: scale(1.2);}
/* index- news*/
.ws-news{padding: 80px 0 60px;background-color: #eeeef0;}
.home-news-list{margin-top: 30px;}
.home-news-list .date{width: 50px;}
.home-news-list .date .moth{text-align: center;display: inline-block;width: 50px;height: 50px;line-height: 50px;background-color: #e4e3e3;color: #666666;font-size: 18px;-webkit-transition: all .3s;transition: all .3s;}
.home-news-list .date .day{text-align: center;display: inline-block;width: 50px;height: 50px;line-height: 50px;background-color: #fff;font-size: 20px;-webkit-transition: all .3s;transition: all .3s;}
.home-news-list .txt{width: 420px;padding-left: 15px;}
.home-news-list .txt > h1{font-size: 16px;font-weight: bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.home-news-list .txt > .from{font-size: 12px;color: #999;margin: 5px 0 15px;}
.home-news-list .txt > .detail{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: 42px;}
.home-news-list .icon{width: 60px;}
.home-news-list .icon >span{background-color: #c0bfbe;color: #fff;display: inline-block;width: 20px;height: 20px;line-height: 18px;text-align: center;font-size: 20px;-webkit-transition: all .3s;transition: all .3s;}
.home-news-row{margin-top: 20px;}
.home-news-list:hover .date>.day{color: #0b5a9a;}
.home-news-list:hover .date>.moth{background-color: #0b5a9a;color: #fff;}
.home-news-list:hover .icon >span{background-color: #0b5a9a;color: #fff;}
/* index- partner */
.ws-partner {padding: 80px 0 60px}
.partner-col img {width: 100%;border: 1px solid #ddd;margin: 20px 10px }
.partner-flexslider {margin-top: 40px; height: 232px;overflow: hidden;}
/* ------------ index end ------------*/
/* *******/
/* ------------ about us page ------------*/
.ws-intro {padding: 80px 0 60px}
.correlative-field{background-color: #3c85c8;height: 60px;}
.correlative-field ul{text-align: center;}
.correlative-field ul li{color: #fff;display: inline-block;margin: 0 60px;line-height: 60px;font-size: 20px;}
.xr-intro-txt p{font-size: 16px;line-height: 1.6;margin: 10px 0;text-indent: 36px;}
.three-area{background: #333;height: 94px;margin: 95px 0;}
.three-area .img-bg{height: 284px;background: url(../images/aboutUs/aboutus-area.png) no-repeat center;background-size: 100% 100%;margin-top: -95px;}
.three-area .img-bg > h1{color: #fff;font-size: 30px;text-align: center;padding-top: 95px;}
.three-area-box{margin: -70px 0 0;}
.three-area-box .area-item{background-color: #fff;border: 1px solid #ddd;position: relative;height: 390px;-webkit-transition: all .3s;transition: all .3s; margin: 0 -8px;}
.three-area-box .area-item:hover{-webkit-box-shadow:0 5px 10px rgba(13, 89, 152, .5);box-shadow: 0 5px 10px rgba(13, 89, 152, .5);}
.three-area-box .area-item:before{background-color: #3c85c8;content: '';display: block;width: 40px;height: 6px;position: absolute;bottom: 15px;left: 50%;margin-left: -20px;}
.three-area-box .area-item > h1{font-size: 18px;line-height: 70px;text-align: center;background-color: #3c85c8;color: #fff;margin: -1px;}
.three-area-box .area-item > p{padding: 10px 20px 20px;font-size: 16px;}
.watchMore{padding: 30px 0 50px;text-align: center;}
.certificate-wall { background-color: rgba(0, 0, 0, .5); padding: 20px 10px;}
.certificate-wall-title {color: #fff; font-size: 20px;text-align:center; padding:  40px 0 20px;} 
.certificate-wall .certificate-wall-ul li {width: 20%; float: left;padding: 10px; cursor: pointer;}
.certificate-wall-ul li > img {width: 100%; border: 15px solid #fff;}
.ws-qualification{background: url(../images/aboutUs/aboutus-zz-bg.png) no-repeat center;background-size: 100% 100%;padding: 80px 0 60px;}
.ws-qualification .white-p{font-size: 16px;text-align: center;color: #fff;margin: 40px 0;}
.qualification-tab .nav{padding: 10px 100px 30px;text-align: center;}
.qualification-tab .nav li{display: inline-block;width: 33%;}
.qualification-tab .nav li > a{display: inline-block;width: 196px;height: 281px;background: url('../images/aboutUs/ws-quty-bg.png') no-repeat center;position: relative;}
.qualification-tab .nav li > a >h2{color: #fff;font-size: 18px;margin-top: 52px;padding-bottom: 5px;}
.qualification-tab .nav li > a >p{color: #fff;height: 126px;overflow: hidden;}
.qualification-tab .nav li > a .circle-num{position: absolute;top: -28px;margin-left: -28px;width: 56px;height: 56px;background-color: #f5f5f5;border: 1px solid #f5f5f5;border-radius: 50%;line-height: 56px;text-align: center;font-size: 25px;font-weight: bold;}
.qualification-tab .nav li.active > a{background-image: url('../images/aboutUs/ws-quty-bg-active.png');}
.qualification-tab .nav li.active > a .circle-num{background-color: #3c85c8;border-color: #f5f5f5;color: #fff;}
.qualification-tab .tab-content{background-color: rgba(0, 0, 0, .5);padding: 30px 30px 15px;height: 215px;overflow: hidden;}
.qualification-tab .tab-content li{color: #fff;line-height: 1.5;margin-bottom: 15px;font-size: 15px;position: relative;padding-left: 25px;}
.qualification-tab .tab-content li:before{content: '';display: block;width: 12px;height: 12px;background: #f5f5f5;position: absolute;left: 0;top: 6px;}
.about-contact{padding: 80px 0 0;}
.about-contact-container{position: relative;background-color: #f5f5f5;height: 600px;}
.about-contact-container .ws-map{position: absolute;top: -50px;left: -382px;}
.address-wrap{margin-left: 436px;padding: 70px 10px;}
.address-wrap > p {text-indent: 32px;font-size: 16px;margin-bottom: 15px;}
.address-wrap h2{margin-bottom: 10px;}
.address-wrap ul{margin-bottom: 40px;}
.address-wrap ul > li{line-height: 25px;padding-left: 30px;position: relative;}
.address-wrap ul > li > i{position: absolute;left: 0;top: 3px;display: inline-block;font-size: 10px;margin-right: 5px;color: #fff;background-color: #333;padding: 4px;}
/* ------------ about us end ------------*/
/* *******/
/* ------------ list ------------*/
.breadcrumb{border-bottom: 1px solid #ddd;}
.breadcrumb>.active{color: #cc1313;}
.breadcrumb>li+li:before{content: ">";}
.List-page{margin-top: 80px;min-height: 680px;padding-bottom: 60px;}
.List-page .main-bg{height: 300px;background: url(../images/detail-main-bg.png) no-repeat center;}
.news-list{margin-bottom: 50px;}
.news-list > li{border-bottom: 1px solid #ddd;padding: 15px 0;}
.news-list > li h2{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;font-size: 20px;}
.news-list > li p{color: #999;text-align: right;}
.news-list > li:hover h2{color: #3c85c8;}
/* ------------ list end ------------*/
/* *******/
/* ------------ Detail page ------------*/
.Detail-page{margin-top: 80px;min-height: 680px;}
.Detail-page .main-detail-bg{height: 300px;background: url(../images/detail-main-bg.png) no-repeat center;}
.detail-page-content { background-color: #fff; min-height: 400px; padding: 40px; margin: 40px 0 80px;}
.detail-page-content .art-title-bar{text-align: center;line-height: 1.5; border-bottom: 1px solid #ddd; padding: 10px 0; font-size: 22px;}
/* ------------ Detail page end ------------*/